body {
    background-color: aquamarine;
}

.container {
    width: 50%;
}

.error-header {
    text-align: center;
    color: red;
    font-weight: bold;
}

.error-message {
    text-align: center;
    color: olive;
    font-style: italic;
    text-decoration: underline;
}
