body {
    background-color: aquamarine;
}
li {
    list-style-type: none;
}

.error-header {
    text-align: center;
    color: red;
    font-weight: bold;
}

.error-message {
    text-align: center;
    color: olive;
    font-style: italic;
    text-decoration: underline;
}


.header {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: lightgrey;
    border-bottom: 1px solid black;
}

li {
    display: inline;
}

.nav-link {
    width: 100px;
    display: inline-block;
    padding: 3px 5px 3px 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.nav-link:hover {
    color: antiquewhite;
    background-color: darkgreen;
}

.main-container {
    margin-top: 50px;
}

.content-title {
    text-align: center;
    font-weight: bolder;
    color: darkblue;
    text-decoration: underline;
}

.footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: darkgrey;
}

.active {
    color: red;
    font-weight: bold;
}

.user {
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid saddlebrown;
}

.post {
    margin: 5px;
    padding: 5px;
}

.home-content {
    padding: 10px 30px 10px 30px;
    font-style: italic;
    font-weight: bolder;
}

.not-found-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.not-found-title {
    color: red;
    font-weight: bold;
}
