.buttons {
    text-align: center;
}

.button {
    margin: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    background-color: yellow;
    color: blue;
    font-weight: bolder;
}

.button:hover {
    box-shadow: 2px 4px 2px grey;
}